---
Checks: >
  *,
  -altera-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -fuchsia-*,
  -google-default-arguments,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -llvm-include-order,
  -llvmlibc-*,
  -misc-const-correctness,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -readability-identifier-length,
  -readability-redundant-access-specifiers,
WarningsAsErrors: ''
HeaderFilterRegex: '(^|.*/)(app|examples|lib|tests)/.*'
ExcludeHeaderFilterRegex: '(^|.*/)(build|_deps|\.conan2|conan|/opt/conan)/.*'
SystemHeaders: false
FormatStyle: file
CheckOptions:
  cppcoreguidelines-avoid-capturing-lambda-coroutines.AllowExplicitObjectParameters: true
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  readability-function-cognitive-complexity.IgnoreMacros: true
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.LocalConstantCase: lower_case
  readability-identifier-naming.GlobalConstantCase: CamelCase
  readability-identifier-naming.MemberCase: lower_case
  readability-identifier-naming.PrivateMemberSuffix: _
...
